@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
  --font-size: 16px;
  --primary-color: #2D936C;
  --dark-color: #04080F;
  --light-color: #DAD7CD;
  --white-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px 20px;
}

.heading {
  color: var(--dark-color);
  text-align: center;
  background-color: #2D936C71;
  margin-bottom: 10px;
  border-radius: 2px;
}

.quiz-container{
  width: min(660px, 86%);
  margin: 10px auto;
}
.question-text{
  margin: 2px 0px;
}
.question-num{
  text-decoration: underline;
}

.primary-btn{
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.2rem;
  padding: 1.5px 13px;
  border: var(--dark-color) 1px solid;
  outline: none;
  border-radius: 17px;
  cursor: pointer;
}

.primary-btn:hover{
  background-color: var(--white-color);
  color: var(--primary-color);
}

.navigation-btn{
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
}

.option-value{
  margin: 5px 20px;
  padding: 3px 7px;
  accent-color: var(--primary-color);
}
.option-label{
  margin: 0px 6px;
}
.final-submit{
  display: flex;
  margin: 20px auto;
  justify-content: center;
}